platforms/firefoxos/www/img/danger-press.png
platforms/firefoxos/www/img/default.png
platforms/firefoxos/www/img/gradient.png
platforms/firefoxos/www/img/logo.png
platforms/firefoxos/www/img/pattern.png
platforms/firefoxos/www/img/recommend.png
platforms/firefoxos/www/js/index.js
platforms/firefoxos/www/plugins/org.apache.cordova.dialogs/src/firefoxos/notification.js
platforms/firefoxos/www/plugins/org.apache.cordova.dialogs/www/notification.js
platforms/firefoxos/www/css/index.css
platforms/firefoxos/www/css/notification.css
platforms/firefoxos/www/icon/icon-128.png
platforms/firefoxos/www/icon/icon-60.png
platforms/firefoxos/www/img/danger.png
platforms/firefoxos/build/package.zip
platforms/firefoxos/config.xml
platforms/firefoxos/www/cordova.js
platforms/firefoxos/www/cordova_plugins.js
platforms/firefoxos/www/index.html
platforms/firefoxos/www/manifest.webapp
