platforms/firefoxos/www/img/danger-press.png
platforms/firefoxos/www/img/default.png
platforms/firefoxos/www/img/gradient.png
platforms/firefoxos/www/img/logo.png
platforms/firefoxos/www/img/pattern.png
platforms/firefoxos/www/img/recommend.png
platforms/firefoxos/www/js/index.js
platforms/firefoxos/www/plugins/org.apache.cordova.dialogs/src/firefoxos/notification.js
platforms/firefoxos/www/plugins/org.apache.cordova.dialogs/www/notification.js
